* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@font-face {
  font-family: "Raleway" sans-serif;
  src: url(/font/Raleway-Regular.ttf);
}

body {
  font-family: "Raleway", sans-serif;
  height: 100vh;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: repeat(8);
}

nav {
  grid-column: 1/4;
  padding: 1rem 0rem;
  margin: 0rem 0rem 0rem 0.25rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.logo {
  flex: 3;
}

nav img {
  width: 100px;
}

nav ul {
  padding-right: 2rem;
  display: flex;
  justify-content: space-between;
  flex: 1;
  list-style: none;
}

nav a {
  display: block;
  color: black;
  text-decoration: none;
}

nav a:hover {
  color: #0065fc;
  border-top: 2px solid #0065fc;
}

.titre {
  padding: 0.5rem 0rem;
  grid-column: 1/4;
  font-size: 10px;
  margin: 0rem 0rem 0rem 0.25rem;
}

.titre p {
  color: #7a7a7afd;
  font-size: 15px;
}

form {
  height: 40px;
  padding: 1rem 0rem;
  grid-column: 1/4;
  display: flex;
  margin: 0rem 0rem 0rem 0.25rem;
}

form i {
  height: 40px;
  width: 40px;
  background: #f2f2f2;
  border-radius: 8px 0 0 8px;
  display: flex;
  text-align: center;
  padding: 0.7rem 0.5rem;
}

form button {
  color: white;
  font-weight: bold;
  background: #0065fc;
  border: none;
  border-radius: 0 8px 8px 0;
  width: 100px;
  height: 40px;
}

input {
  width: 170px;
  height: 40px;
  border: none;
  display: flex;
}

.Filtres {
  font-size: 18px;
  padding: 2rem 0rem;
  grid-column: 1/4;
  margin: 0rem 0rem 0rem 0.25rem;
  font-weight: bold;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.Filtres ul {
  display: flex;
  justify-content: space-between;
  padding-right: 45rem;
  list-style: none;
}

.Filtres li {
  padding: 0rem 1rem;
}

.Filtres .circle-icon {
  color: #386ffc;
  background: #deecff;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  text-align: center;
  line-height: 40px;
  vertical-align: middle;
}

.Filtres button {
  background: white;
  display: flex;
  align-items: center;
  border-radius: 25px;
  border: 1px solid lightgray;
  padding-right: 0.25rem;
  transition-duration: 0.5s;
}

.Filtres button:hover {
  background-color: #deecff;
}

.Filtres p {
  padding-left: 0.5rem;
  padding-right: 0.5rem;
  font: bolder;
}

.Filtres a {
  text-decoration: none;
}

.info-recherche {
  display: flex;
  align-items: center;
  color: #7a7a7afd;
  grid-column: 1/4;
  padding-bottom: 1.5rem;
  margin: 0rem 0rem 0rem 0.5rem;
}

.info-recherche .circle-icon {
  background: none;
  color: #0065fc;
  border: 1px solid lightgray;
  font-size: 9px;
  border-radius: 50%;
  width: 20px;
  height: 20px;
  text-align: center;
  line-height: 20px;
  vertical-align: middle;
}

.info-recherche p {
  padding-left: 0.5rem;
}

.hebergement {
  background: #f2f2f2;
  grid-column: 1/3;
  margin: 0rem 1rem 0rem 0.5rem;
  padding: 1rem;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 60px 250px 250px 50px;
  border-radius: 25px 25px 25px 25px;
}

.hebergement h1 {
  display: grid;
  grid-column: 1/4;
  font-size: 20px;
}

.hebergement img {
  width: 100%;
  max-height: 145px;
  border-radius: 25px 25px 0 0;
  display: flex;
  align-items: center;
  object-fit: cover;
}

.hebergement .c1 {
  padding: 0.35rem;
  background: white;
  border: black;
  border-radius: 25px 25px 25px 25px;
  box-shadow: 2.5px 0px 10px 2.5px rgb(212, 212, 212);
  width: 90%;
  height: 90%;
}

.hebergement h2 {
  color: black;
  font-size: 17px;
  text-decoration: none;
  padding: 0.5rem 0rem 0rem 0.5rem;
}

.hebergement p {
  color: #7a7a7afd;
  padding: 0rem 0rem 0rem 0.5rem;
}

.hebergement a {
  text-decoration: none;
}

.hebergement i {
  color: #0065fc;
}

.plus-populaire {
  background: #f2f2f2;
  grid-column: 3/4;
  border-radius: 25px 25px 25px 25px;
  margin: 0rem 1rem 0rem 1rem;
  display: grid;
  grid-template-rows: 60px 1fr 1fr 1fr;
  grid-template-columns: 1fr;
}

.plus-populaire h1 {
  font-size: 22px;
  padding: 1rem 1rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.plus-populaire img {
  width: 145px;
  border-radius: 25px 0px 0px 25px;
  display: flex;
  align-items: center;
  object-fit: cover;
  height: 148px;
}

.plus-populaire .d1,
.d2,
.d3 {
  margin: 1rem;
  padding: 0.35rem;
  background: white;
  border: black;
  box-shadow: 2.5px 0px 10px 2.5px rgb(212, 212, 212);
  border-radius: 25px 25px 25px 25px;
  width: 90%;
  display: flex;
  height: 160px;
}
.plus-populaire .texte {
  margin-left: 1rem;
  grid-template-columns: 2/3;
  height: 100%;
}

.plus-populaire h2 {
  color: black;
  font-size: 17px;
  text-decoration: none;
}

.plus-populaire p {
  color: #7a7a7afd;
}

.plus-populaire a {
  text-decoration: none;
  display: grid;
  grid-template-columns: 1fr 2fr;
  grid-template-rows: 1fr;
  height: 100%;
}

.plus-populaire i {
  color: #0065fc;
  background: none;
}

.rating {
  margin-bottom: auto;
}

.rating1 {
  padding-left: 0.4rem;
}

.activite {
  grid-column: 1/4;
  margin: 3rem 0rem;
  padding-bottom: 3rem;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 60px 240px 240px;
}

.activite h1 {
  display: grid;
  grid-column: 1/5;
  font-size: 20px;
  padding: 1rem 1rem;
}

.activite a {
  box-shadow: 2.5px 0px 10px 2.5px rgb(212, 212, 212);
  border-radius: 25px 25px 25px 25px;
  margin: 1rem 1rem;
  text-decoration: none;
  font-size: 12px;
  color: black;
  background-color: lightgreen;
  display: grid;
  grid-template-rows: 1fr 40px;
  object-fit: cover;
}

.activite img {
  width: 100%;
  border-radius: 25px 25px 0px 0px;
  display: flex;
  align-items: center;
  object-fit: cover;
}

.activite .e2 img {
  max-height: 160px;
}
.activite .h2 {
  padding-bottom: auto;
  padding: 0.25rem 0.25rem 0.25rem 0.5rem;
}

.e1 {
  display: grid;
  grid-column: 1/2;
  grid-row: 2/4;
}

.activite .e2 {
  display: grid;
  grid-column: 2/3;
  grid-row: 2/4;
  height: 220px;
}

.activite .e3 {
  display: grid;
  grid-column: 2/3;
  grid-row: 3/4;
}

.activite .e4 {
  display: grid;
  grid-column: 3/4;
  grid-row: 2/4;
}

.activite .e5 {
  display: grid;
  grid-column: 4/5;
  grid-row: 2/3;
}

.activite .e6 {
  display: grid;
  grid-column: 4/5;
  grid-row: 3/4;
}

.footer {
  background: #f2f2f2;
  display: grid;
  grid-column: 1/5;
  grid-template-columns: 1fr 1fr 1fr;
  height: 200px;
  padding: 2rem;
  margin: 3rem 0rem;
}

.footer h1 {
  font-size: 18px;
}

.footer a {
  font-size: 15px;
  text-decoration: none;
  border: none;
  color: gray;
  padding: 1rem 1rem 1rem 0rem;
  box-shadow: none;
}
.footer ul {
  list-style: none;
}

.footer li {
  padding: 0.25rem;
}
